adjustText
beautifulsoup4
cloudscraper
matplotlib
nltk
numpy
pandas
requests
scikit-learn
seaborn
selenium
yfinance
gensim
textblob
tensorflow
torch
kagglehub
pandas_ta
optuna
utils
flask
flask_restful
flask_cors